.header {
  width: 100%;
  background: var(--color-bg-component);
  height: auto;

  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

}

.header .content {
  color: var(--color-title-primary);
  width: 100%;
  max-width: var(--width-post);
  margin: 0 auto;
  padding: 64px 0;
}

.center{

    align-items: center;
    text-align: center;
}

.center *{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}