.footer {
  width: 100%;
  display: flex;
  border-top: 1px solid var(--color-border);
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer__align {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
}

.footer__align > div {
  margin-right: 0;
}

.footer p {
  font-weight: bold;
  color: var(--color-text);
  font-size: 12px;
}

.footer ul {
  display: flex;
  gap: 8px;
}

.footer ul li svg {
  stroke: var(--color-text);
}

.footer ul li {
  cursor: pointer;
  transition: 0.3s;
  padding: 8px 12px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer ul li:hover {
  background: var(--color-bg-lines);
}

.footer ul li a svg{
  width: 20px;
  height: 20px;
  stroke-width: 2;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color-white-transparent-subtitle);
  opacity: 0.7;
  font-size: 14px;
  padding: 23px 0;
  padding-bottom: 16px;
  width: 100%;
  text-align: center;
  font-weight: 500;

  letter-spacing: 1.2px;
}

.footer__copyright a {
  display: inline-block;
  margin: 0 4px;
  font-weight: bold;
}
