.card {
  width: 100%;
  min-width: 310px;
  overflow: hidden;
  display: flex;
  flex-direction: wrap;
  flex-direction: column;

  position: relative;
  border: 1px solid var(--color-border);
  transition: 0.3s ease-in-out;
  background-color: var(--color-bg-components);
  border-radius: 4px;
}

.card[data-key="0"]{
  margin-top: 0;
}

.card__content {
  width: 100%;
  height: auto;
}

.card__thumbnail{
  height: 330px;
  overflow: hidden;
}

.card > img {
  background: var(--color-dark);
  transition: 0.3s linear;
  width: 100%;
  height: auto;
  max-height: 300px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

.card__content{
  padding: 24px 32px;
  padding-left: 70px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card__content > a{
  margin-bottom: 16px;
}

.card__content > p{
  margin: 0;
  font-size: 18px;
  margin-bottom: 16px;
}
