.c-tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.c-tags__item{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;

    color: var(--color-white);
}

.c-tags__item a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #3a3a3f;
    padding: 8px 12px;
    opacity: 1;
    border-radius: 16px;
    transition: 0.3s;
}



.c-tags__item a:hover{
    background: var(--color-primary);
    color: var(--color-white);
    opacity: 1;
}

.c-tags__item--html a:hover{
    background: #f0932b;
    color: var(--color-dark);
}

.c-tags__item--html5 a:hover{
    background: #f0932b;
    color: var(--color-dark);
}

.c-tags__item--css a:hover{
    background: #686de0;
    color: var(--color-dark);
}

.c-tags__item--css3 a:hover{
    background: #686de0;
    color: var(--color-dark);
}

.c-tags__item--js a:hover{
    background: #f9ca24;
    color: var(--color-dark);
}

.c-tags__item--javascript a:hover{
    background: #f9ca24;
    color: var(--color-dark);
}

.c-tags__item--react a:hover{
    background: #7ed6df;
    color: var(--color-dark);
}

.c-tags__item--reactjs a:hover{
    background: #7ed6df;
    color: var(--color-dark);
}

.c-tags__item--frontend a:hover{
    background: #fff;
    color: var(--color-dark);
}

.c-tags__item--front-end a:hover{
    background: #fff;
    color: var(--color-dark);
}

.c-tags__item--instagram a:hover{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      
    color: var(--color-dark);
}

.c-tags__item--facebook a:hover{
    background: #4267B2;
    color: var(--color-dark);
}

.c-tags__item--node a:hover{
    background: #6ab04c;
    color: var(--color-dark);
}

.c-tags__item--nodejs a:hover{
    background: #6ab04c;
    color: var(--color-dark);
}

.c-tags__item--next a:hover{
    background: #111;
    color: #fff;
}

.c-tags__item--nextjs a:hover{
    background: #111;
    color: #fff;
}

.c-tags__item--backend a:hover{
    background: #e056fd;
    color: var(--color-dark);
}

.c-tags__item--back-end a:hover{
    background: #e056fd;
    color: var(--color-dark);
}

