.socialShareButtons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 12px;
}

.socialShareButtons svg{
  stroke: var(--color-info);
  stroke-width: 1.35;
  width: 24px;
  height: 24px;
  transition: 0.2s ease-in-out;
}

.socialShareButtons a:hover svg{
  stroke: var(--color-primary);
}