.brand {
  width: fit-content;
  margin-right: 32px;
}

.brand__title {
  font-size: 26px;
  font-weight: bold;

  display: flex;
  align-items: center;
  font-family: "Play", sans-serif;
}

.brand h1,
.brand svg {
  cursor: pointer;
  color: var(--color-title);
  fill:var(--color-title);
  stroke: var(--color-title);
}

.brand *:hover{
  color: var(--color-title);
}

.brand svg {
  height: 45px;
  width: 45px;
}

@media (max-width: 639px){
  .brand__title h1{
    font-size: 18px;
  }
  .brand svg{
    height: 30px;
    width: 30px;
  }
}