.label{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: var(--color-info);

    height: 18px;
    line-height: 18px;
    letter-spacing: 0.5px;
    gap: 4px;
}

.label span{
    color: var(--color-info);
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    vertical-align: center;

}

.label__text{
    font-size: 12px;
    font-weight: 300;

}

.label__text::first-letter{
    text-transform: uppercase;
}