.buttonLike, .buttonUnlike{
    height: 32px;
    width: 132px;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    cursor: pointer;
}

.buttonUnlike .buttonLike__icon svg{
    stroke: var(--color-gray);
    transition: 0.3s ease-in-out;
}

.buttonLike .buttonLike__icon svg{
    stroke: var(--color-red);
    fill: var(--color-red-light);
}

.buttonLike__reaction{
    font-size: 14px;
    color: var(--color-gray);
    transition: 0.3s ease-in-out;
    margin-left: 4px;
}


.buttonUnlike:hover svg{
    fill: var(--color-gray);
    stroke: var(--color-gray)
}

.buttonLike:hover .buttonLike__reaction{
    color: var(--color-info);
}

.buttonLike__icon:hover svg{
    fill: var(--color-info);
    stroke: var(--color-info)
}

.buttonUnlike .buttonLike__reaction{
    color: var(--color-info);
}

.buttonLike svg{
    animation: entry 0.25s;
}

@keyframes entry{
    0%{
        transform: scale(1);
       
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

@media (max-width: 639px){
    .buttonLike, .buttonUnlike{
        width: 40px;
    }
    .buttonLike__reaction span{
        display: none
    }
}