.card {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  background: var(--color-bg-components);
  position: relative;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
  height: auto;
  width: 100%;
  max-width: clamp(320px, var(--card-width), 354px);
}

.card header{
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}


.card header .card-thumbnail {
  height: 260px;
  overflow: hidden;
}

.card header .card-thumbnail img {
  background: var(--color-dark);
  transition: 0.3s linear;
  width: 100%;
  height: 260px;
  max-height: 300px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  position: relative;
  object-fit: cover;
  object-position: center;
}


.card section, .card footer{
  width: 100%;
  padding: 0 16px;
}

.card footer{
  padding-bottom: 16px;
}

.card .tags{
  width: 100%;
  margin-bottom: 8px;
}

.card .title{
  width: 100%;
  margin-bottom: 16px;
}

.card .title a *:hover{
  color: var(--color-primary)
}

.card .summary{
  margin-bottom: 16px;
  word-break: break-word;
  display: -webkit-box;
    overflow-y: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.card footer > *{
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
