
.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  margin: 4px auto;
}

.markdown *:first-child{
  margin-top: 0;
}

.markdown hr{
  margin: 40px 0;
  height: 1px;
  background-color: var(--color-bg-lines);
  border: unset;
  opacity: 0.2;
}


.markdown p {
  font-size: 18px;
  width: 100%;
  letter-spacing: 0.4px;
  line-height: 1.6;
  max-width: 65ch;
}

.markdown p + p{
  margin-top: 40px;
 
}

/* Title */
@media only screen{
  .markdown h1 {
    margin: 20px 0;
    font-size: 32px;
    line-height: 1.5;
  }
  
  .markdown h2 {
    font-size: 22px;
    line-height: 2;
    margin: 20px 0;
  }
  
  .markdown h3 {
    font-size: 18px;
    line-height: 1.375;
    margin: 20px 0;
  }
}

/* Links */
@media only screen{

  .markdown a {
    color: var(--color-primary);
    transition: 0.3s;
    opacity: 0.8;
    text-decoration: underline;
    font-weight: 500;
  }
  
  .markdown a:hover {
    opacity: 1;
  } 
}

/* Table  */
@media only screen{


  .markdown table {

    table-layout: auto;
    text-align: left;
    margin: 36px 0;
    font-size: 15px;
    line-height: 1.5;
    border-collapse: collapse;
  
    padding: 15px;
  }
  
  .markdown thead th {
    vertical-align: bottom;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
  }
  
  .markdown thead th:first-child {
    padding-left: 0;
  }
  
  .markdown thead th:last-child {
    padding-right: 0;
  }
  
  .markdown tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
  
  .markdown tbody tr {
    border-bottom: 1px solid #ddd;
    display: table-row;
    vertical-align: inherit;
  }
  
  .markdown table tbody tr:first-child {
    border-top: 1px solid #ddd;
  }
  
  .markdown tbody tr:last-child {
    border-bottom-width: 0;
  }
  
  .markdown table tbody td {
    vertical-align: top;
    padding: 0.5714286em;
    color: #555;
  }
  
  .markdown table tbody td:first-child {
    padding-left: 0;
  }
  
  .markdown table body td:last-child {
    padding-right: 0;
  }
}

/* Lista */
@media only screen{
  .markdown ul{
    margin: 40px 0;
  }
  .markdown ul li {
    padding-left: 30px;
    position: relative;
    font-size: 1rem;
  }
  
  .markdown ul li + li {
    margin: 18px 0;
  }
  
  .markdown ul li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background: var(--color-info);
    border-radius: 50%;
  }
}


@media only screen{}
@media only screen{}
@media only screen{}
@media only screen{}
@media only screen{}
@media only screen{}

.markdown a{
  color: palevioletred;
}

