
.post p,
.post ul,
.post ol,
.post blockquote {
  margin: 4px auto;
}

.post > *:first-child{
  margin-top: 0;
}

.post hr{
  margin: 40px 0;
  height: 1px;
  background-color: var(--color-bg-lines);
  border: unset;
  opacity: 0.2;
}


.post p {
  font-size: 20px;
  width: 100%;
  letter-spacing: 0.4px;
  line-height: 1.6;
  max-width: 65ch;
}

.post p + p{
  margin-top: 40px;
 
}

.post img{
  margin: 40px 0;
  display: block;
}
.post figure{
  margin-bottom: 40px;
}
.post figure img{
  margin-bottom: 16px;
}
.post figcaption{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 14px;
}

/* Title */
@media only screen{
  .post h1 {
    margin: 20px 0;
    font-size: 32px;
    line-height: 1.5;
  }
  

  .post h2 {
    font-size: 22px;
    line-height: 2;
    margin: 16px 0;
  }

  .post p + h2{
    margin-top: 40px;
  }
  
  .post h3 {
    font-size: 18px;
    line-height: 1.375;
    margin: 20px 0;
  }
}

/* Links */
@media only screen{

  .post a {
    color: #B33771;
    transition: 0.3s;
    text-decoration: underline;
    font-weight: 500;
    letter-spacing: 1.5px;
  }
  
  .post a:hover {
    color:#FC427B;
  } 
}

/* Table  */
@media only screen{


  .post table {

    table-layout: auto;
    text-align: left;
    margin: 36px 0;
    font-size: 15px;
    line-height: 1.5;
    border-collapse: collapse;
  
    padding: 15px;
  }
  
  .post thead th {
    vertical-align: bottom;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
  }
  
  .post thead th:first-child {
    padding-left: 0;
  }
  
  .post thead th:last-child {
    padding-right: 0;
  }
  
  .post tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
  
  .post tbody tr {
    border-bottom: 1px solid #ddd;
    display: table-row;
    vertical-align: inherit;
  }
  
  .post table tbody tr:first-child {
    border-top: 1px solid #ddd;
  }
  
  .post tbody tr:last-child {
    border-bottom-width: 0;
  }
  
  .post table tbody td {
    vertical-align: top;
    padding: 0.5714286em;
    color: #555;
  }
  
  .post table tbody td:first-child {
    padding-left: 0;
  }
  
  .post table body td:last-child {
    padding-right: 0;
  }
}

/* Lista */
@media only screen{
  .post ul{
    margin: 40px 0;
  }
  .post ul li {
    padding-left: 30px;
    position: relative;
    font-size: 20px
  }
  
  .post ul li + li {
    margin: 18px 0;
  }
  
  .post ul li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background: var(--color-info);
    border-radius: 50%;
  }
}


@media only screen{}
@media only screen{}
@media only screen{}
@media only screen{}
@media only screen{}
@media only screen{}

.post h2{
  font-size: 28px;
}

.post blockquote{
  position: relative;
  font-style: italic;
  font-size: 20px;
  padding: 16px 0;
  border-left: 4px solid #B33771;
  padding-left: 32px;
  transform: translateX(-32px);
  margin: 40px 0;
  line-height: 2;
}

.post pre{
  padding: 16px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px -2px rgba(0,0,0,.1),0 0 1px rgba(0,0,0,.4);
}

