.Article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: center;
  margin: 40px 0;
}
/* Aplica max-width a todos os elementos menos img, figure */
.Article *:not(img, figure) {
  max-width: var(--width-post);
  margin: 0;
}

/* Aplica max-width a todos os elementos menos div, img */
.Article figure *:not(div, img) {
  max-width: var(--width-post);
}



.Article p + figure {
  margin: 40px 0;
}

.Article hr + h2{
  margin-top: 0;
}


/* Figure */
@media screen {
  .Article figure{
    width: 100%;
  }

  .Article figure:not(figure +figure){
    display: block;
    margin-bottom: 16px;
  }

  .Article figure iframe {
    display: block;
    width: var(--width-post);
    height: 100%;
    min-height: 420px;
    margin: 0 auto;
    position: relative !important;
  }

  .Article figure img {
    max-width: 1000px;
  }

  .Article figure pre{
    margin: 0 auto;
    margin-bottom: 8px;
    width: 100%;
  }

  .Article figure figcaption {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: var(--color-info);
    margin: 0 auto;
    margin-bottom: 40px;
    font-weight: 500;
  }
}

@media (max-width: 1000px){
  .Article figure img {
    max-width: 100%;
  }
}

/* Paragrafo */
@media screen{
  .Article p {
    margin: 0 auto;
    font-size: 20px;
    width: 100%;
    letter-spacing: 0.65px;
    line-height: 1.6;
    font-weight: 300;
  }
  
  .Article p + p {
    margin-top: 40px;
  }
}

/* Title */
@media only screen {
  .Article h1,
  .Article h2,
  .Article h3,
  .Article h4,
  .Article h5,
  .Article h6 {
    display: block;
    text-align: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 25px;
  }

  .Article h1 {
    font-size: 32px;
    line-height: 1.5;
  }

  .Article h2 {
    font-size: 36px;
    line-height: 2;
  }

  .Article h3 {
    font-size: 30px;
    line-height: 1.375;
  }
}

/* Links */
@media only screen {
  .Article a {
    color: #b33771;
    transition: 0.3s;
    text-decoration: underline;
    font-weight: 500;
    letter-spacing: 1.5px;
  }

  .Article a:hover {
    color: #fc427b;
  }
}

/* Table  */
@media only screen {
  .Article table {
    table-layout: auto;
    text-align: left;
    margin: 36px 0;
    font-size: 15px;
    line-height: 1.5;
    border-collapse: collapse;

    padding: 15px;
  }

  .Article thead th {
    vertical-align: bottom;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
  }

  .Article thead th:first-child {
    padding-left: 0;
  }

  .Article thead th:last-child {
    padding-right: 0;
  }

  .Article tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  .Article tbody tr {
    border-bottom: 1px solid #ddd;
    display: table-row;
    vertical-align: inherit;
  }

  .Article table tbody tr:first-child {
    border-top: 1px solid #ddd;
  }

  .Article tbody tr:last-child {
    border-bottom-width: 0;
  }

  .Article table tbody td {
    vertical-align: top;
    padding: 0.5714286em;
    color: #555;
  }

  .Article table tbody td:first-child {
    padding-left: 0;
  }

  .Article table body td:last-child {
    padding-right: 0;
  }
}

/* Lista */
@media only screen {
  .Article ul {
    margin: 40px 0;
    width: 100%;
  }
  .Article ul li {
    padding-left: 30px;
    position: relative;
    font-size: 20px;
  }

  .Article ul li + li {
    margin: 18px 0;
  }

  .Article ul li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background: var(--color-info);
    border-radius: 50%;
  }
}

/* Blockquote */
@media only screen {
  .Article blockquote {
    position: relative;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    padding: 0;
    margin: 40px 0;
    line-height: 1.6em;
  }
  .Article blockquote::before{
    content: "";
    width: 2px;
    height: 100%;
    background: #b33771;
    position: absolute;
    left: -24px;
  }
}

/* Image */
@media only screen {
  .Article > img {
    display: block;
    margin: 0 auto;
  }
  
}

/* h2/linha */
@media only screen {
  .Article hr {
    margin: 40px 0;
    height: 1px;
    width: 100%;
    display: block;
    background-color: var(--color-border);
    border: unset;
    opacity: 0.2;
  }
}

.Article > pre{
  width: 100%;
  margin: 20px 0;
}

.Article p > code{
  background: #b33771;
  border-radius: 4px;
  padding: 4px 8px;
  width: 100%;
  font-size: 16px;
  margin: 0 4px
}