.section__article {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  overflow-x: visible;
}