@media only screen{
  .author {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 24px 0;
    padding-bottom: 0px;
    padding-left: 16px;
    align-items: center;
  }
  
  .author .author-image div{
    background: var(--color-primary);
    border: 5px solid rgba(0, 0, 0, 0.4);
    box-sizing: content-box;
  }
  
  .author-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 8px;
  }
  
  .author-info span {
    color: var(--color-info);
    font-size: 14px;
  }
  
  .author-info span:first-child {
    font-weight: 500;
  }

  .author-info span:last-child {
    font-size: 12px;
    font-weight: 300;
  }
}



.postAuthor{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--color-bg-components);
  color:  var(--color-text);
  border-radius: 4px;
  padding: 0 25px;
  margin: 16px auto;
  margin-bottom: 128px;
  height: auto;
  border: 1px solid var(--color-border);

}

.postauthor__avatar, .postauthor__Content{
  height: auto;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  flex: 1;
}

.postauthor__avatar{
  flex: 1;
}

.postauthor__avatar div{
  box-shadow: 0px 2px 12px var(--color-dark);
  background: var(--color-primary);
  border: 5px solid rgba(0, 0, 0, 0.4);
  
}

.postauthor__Content{
  flex: 10;
}

.postauthor__Content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 8px;
  gap: 12px
}

.postauthor__Content span {
  color: var(--color-text);
  font-size: 18px;
}

.postauthor__Content span:first-child {
  font-weight: 500;
}

.postauthor__Content span:last-child {
  font-size: 16px;
  font-weight: 300;
}

.button{
  width: 128px;
  height: 38px;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);

  color: var(--color-dark);
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.button:hover{
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
  filter: brightness(0.8);
}