.navbar{
    width: max-content;
    height: auto;
}

.navbar ul{
    display: flex;
    gap: 8px;
}

.navbar ul li a{
    text-transform: uppercase;
    color: #333;
    font-weight: bold;

    border: 2px solid transparent;
    letter-spacing: 1.5px;
    font-size: 14px;
    transition: 0.25s linear;
}

.navbar ul li a:hover{
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}

@media (max-width: 320px){
    .navbar ul li a{
        font-size: 12px;
    }
}