.tag[data-tag]:hover {
  color: var(--tag-all);
  stroke: var(--tag-all);
}
.tag[data-tag="html"]:hover {
  color: var(--tag-html);
  stroke: var(--tag-html);
}
.tag[data-tag="css"]:hover {
  color: var(--tag-css);
  stroke: var(--tag-css);
}
.tag[data-tag="javascript"]:hover {
  color: var(--tag-javascript);
  stroke: var(--tag-javascript);
}
.tag[data-tag="reactjs"]:hover {
  color: var(--tag-reactjs);
  stroke: var(--tag-reactjs);
}
.tag[data-tag="node"]:hover {
  color: var(--tag-node);
  stroke: var(--tag-node);
}
.tag[data-tag="nextjs"]:hover {
  color: var(--tag-nextjs);
  stroke: var(--tag-nextjs);
}
.tag[data-tag="python"]:hover {
  color: var(--tag-python);
  stroke: var(--tag-python);
}
.tag[data-tag="facebook"]:hover {
  color: var(--tag-facebook);
  stroke: var(--tag-facebook);
}
.tag[data-tag="ruby"]:hover {
  color: var(--tag-ruby);
  stroke: var(--tag-ruby);
}
.tag[data-tag="frontend"]:hover {
  color: var(--tag-frontend);
  stroke: var(--tag-frontend);
}
.tag[data-tag="backend"]:hover {
  color: var(--tag-backend);
  stroke: var(--tag-backend);
}
.tag[data-tag="bootstrap"]:hover {
  color: var(--tag-bootstrap);
  stroke: var(--tag-bootstrap);
}
.tag[data-tag="all"]:hover {
  color: var(--tag-all);
  stroke: var(--tag-all);
}







.tag[data-tag]:hover * {
  color: var(--tag-all);
  stroke: var(--tag-all);
}
.tag[data-tag="html"]:hover * {
  color: var(--tag-html);
  stroke: var(--tag-html);
}
.tag[data-tag="css"]:hover * {
  color: var(--tag-css);
  stroke: var(--tag-css);
}
.tag[data-tag="javascript"]:hover * {
  color: var(--tag-javascript);
  stroke: var(--tag-javascript);
}
.tag[data-tag="reactjs"]:hover * {
  color: var(--tag-reactjs);
  stroke: var(--tag-reactjs);
}
.tag[data-tag="node"]:hover * {
  color: var(--tag-node);
  stroke: var(--tag-node);
}
.tag[data-tag="nextjs"]:hover * {
  color: var(--tag-nextjs);
  stroke: var(--tag-nextjs);
}
.tag[data-tag="python"]:hover * {
  color: var(--tag-python);
  stroke: var(--tag-python);
}
.tag[data-tag="facebook"]:hover * {
  color: var(--tag-facebook);
  stroke: var(--tag-facebook);
}
.tag[data-tag="ruby"]:hover * {
  color: var(--tag-ruby);
  stroke: var(--tag-ruby);
}
.tag[data-tag="frontend"]:hover * {
  color: var(--tag-frontend);
  stroke: var(--tag-frontend);
}
.tag[data-tag="backend"]:hover * {
  color: var(--tag-backend);
  stroke: var(--tag-backend);
}
.tag[data-tag="bootstrap"]:hover * {
  color: var(--tag-bootstrap);
  stroke: var(--tag-bootstrap);
}
.tag[data-tag="all"]:hover * {
  color: var(--tag-all);
  stroke: var(--tag-all);
}
