.brand {
  width: fit-content;
  margin-right: 32px;
}

.brand__title {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-family: "Play", sans-serif;
}

.brand__title-point{
  color: var(--color-secondary);
}

.brand h1,
.brand svg {
  cursor: pointer;
  color: var(--color-title);
  fill: var(--color-secondary);
  stroke: var(--color-secondary);
}

.brand svg {
  height: 50px;
  width: 50px;
}
