.meta-post{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 410px;
}

p.meta-post__item{
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    margin-top: 4px;
    max-width: fit-content;
    max-width: 320px;
}

.meta-post__item span, .meta-post__item p a{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-weight: 300;
    font-size: 14px;
    color: #bbb; 
    margin: 0 4px;
}

.meta-post__item span:first-child{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
}


.meta-post__item span:first-child svg{
    margin: 0 auto;
    stroke-width: 1.3px;
    height: 22px;
    stroke: #bbb;
}

.meta-post__separator{
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    margin: 0 12px;
}

.meta-post-more p{
    display: flex;
    align-items: flex-end;
    align-content: center;
    font-weight: 300;
    font-size: 14px;
    color: #bbb;
    margin-top: 8px;
    justify-content: flex-start;
}

.meta-post-more p svg{
    margin-right: 5px;
    stroke-width: 1.3px;
    height: 22px;
    width: 22px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 640px){
    .meta-post{
        flex-wrap: wrap;
        width: 100%;
        gap: 2px;
        font-size: 13px;
    }

    .meta-post span, .meta-post a{
    color: var(--color-white);
        letter-spacing: 0.5px;
    }

    .meta-post__separator{
        display: inline-block;
        font-size: 22px;
        font-weight: bold;
        margin: 0 4px;
    }
}

@media (max-width: 340px){
    .meta-post{
        gap: 8px;
        display: flex;
        width: 100%;
    }

    .meta-post__separator{
        display: block;
        font-size: 22px;
        line-height: 12px;
        width: 100%;
        flex: 100%;
    }
}