.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.item{
    font-size: 12px;
    text-transform: lowercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: var(--color-subtitle);
}

.item a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-info);
    height: 26px;
    padding: 0 12px;
    opacity: 1;
    border-radius: 4px;
    transition: 0.3s;
    font-family: 'Roboto', var(--font-family-sans-serif);
    font-weight: 500;
}

.item:hover{
    color: var(--color-text);
}

.item a:hover{
    background: var(--color-primary);
    color: var(--color-text);
    opacity: 1;
}

.item[data-tag="html"] a:hover{
    background: #f0932b;
    border-color: #f0932b;
}

.item[data-tag="html5"] a:hover{
    background: #f0932b;
    border-color: #f0932b;
}

.item[data-tag="css"] a:hover{
    background: #686de0;
    border-color: #686de0;
}

.item[data-tag="css3"] a:hover{
    background: #686de0;
    border-color: #686de0;
}

.item[data-tag="js"] a:hover{
    background: #f9ca24;
    color: var(--color-dark);
    border-color: #f9ca24;
}

.item[data-tag="javascript"] a:hover{
    background: #f9ca24;
    color: var(--color-dark);
    border-color: #f9ca24;
}

.item[data-tag="react"] a:hover{
    background: #7ed6df;
    border-color: #7ed6df;
}


.item[data-tag="reactjs"] a:hover{
    background: #7ed6df;
    border-color: #7ed6df;
}

.item[data-tag="frontend"] a:hover{
    background: #ffffff;
    border-color: #ffffff;
    color: var(--color-dark);
}

.item[data-tag="front-end"] a:hover{
    background: #ffffff;
    border-color: #ffffff;
    color: var(--color-dark);
}

.item[data-tag="facebook"] a:hover{
    background: #4267B2;
    border-color: #4267B2;
}

.item[data-tag="node"] a:hover{
    background: #6ab04c;
    border-color: #6ab04c;
}

.item[data-tag="nodejs"] a:hover{
    background: #6ab04c;
    border-color: #6ab04c;
}

.item[data-tag="next"] a:hover{
    border-color: #111;
    background: #111;
}

.item[data-tag="nextjs"] a:hover{
    border-color: #111;
    background: #111;
}

.item[data-tag="backend"] a:hover{
    border-color: #e056fd;
    background: #e056fd;
}

.item[data-tag="back-end"] a:hover{
    border-color: #e056fd;
    background: #e056fd;
}

.item[data-tag="Getting Started"] a:hover{
    border-color: #e056fd;
    background: #e056fd;
}
