.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.item{
    font-size: 12px;
    text-transform: lowercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: var(--color-subtitle);
}

.item a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-info);
    height: 26px;
    padding: 0 12px;
    opacity: 1;
    border-radius: 4px;
    transition: 0.3s;
    font-family: 'Roboto', var(--font-family-sans-serif);
    font-weight: 500;
}

.item a:hover{
    color: var(--color-text);
}

.item a:hover{
    background: var(--color-primary);
    color: var(--color-text);
    opacity: 1;
}

.item[data-tag="html"] a:hover, 
.item[data-tag="html5"] a:hover{
    background: var(--tag-html);
    border-color: var(--tag-html);
}

.item[data-tag="css"] a:hover,
.item[data-tag="css3"] a:hover{
    background: var(--tag-css);
    border-color: var(--tag-css);
}

.item[data-tag="js"] a:hover,
.item[data-tag="javascript"] a:hover{
    background: var(--tag-javascript);
    color: var(--color-dark);
    border-color: var(--tag-javascript);
}

.item[data-tag="react"] a:hover,
.item[data-tag="reactjs"] a:hover{
    background: var(--tag-reactjs);
    border-color: var(--tag-reactjs);
}

.item[data-tag="frontend"] a:hover,
.item[data-tag="front-end"] a:hover
{
    background: #ffffff;
    border-color: #ffffff;
    color: var(--tag-frontend);
}

.item[data-tag="facebook"] a:hover{
    background: var(--tag-facebook);
    border-color: var(--tag-facebook);
}

.item[data-tag="node"] a:hover,
.item[data-tag="nodejs"] a:hover
{
    background: var(--tag-node);
    border-color: var(--tag-node);
}

.item[data-tag="next"] a:hover,
.item[data-tag="nextjs"] a:hover{
    border-color: var(--tag-nextjs);
    background: var(--tag-nextjs);
}

.item[data-tag="backend"] a:hover,
.item[data-tag="back-end"] a:hover{
    border-color: var(--tag-backend);
    background: var(--tag-backend);
}


.item[data-tag="getting started"] a:hover{
    border-color: var(--tag-all);
    background: var(--tag-all);
}
