.title{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--color-title);
}

.title__item{
  display: block;
  text-transform: lowercase;
  text-rendering: optimizeLegibility;

  color: currentColor;
  line-height: 1.3;
  letter-spacing: 0.45px;
}

.title h1 {
  font-size: 42px;
  line-height: 1.4;
}

.title h2 {
  font-size: 32px;
}

.title h3 {
  font-size: 24px;
}

.title h4{
  font-size: 18px;
}
.title h5{
  font-size: 16px;
}
.title h5{
  font-size: 14px;
}

@media(max-width: 720px){
  .title h2{
    font-size: 30px;
  }
}




.title__item:first-letter,
.title__item *:first-letter {
  text-transform: capitalize;
}

.limited .title__item{
  display: -webkit-box;
  overflow-y: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}