.card {
  width: 100%;
  max-width: calc((100% - 64px) / 3);
  min-width: 310px;
  overflow: hidden;
  display: flex;
  flex-direction: wrap;
  flex-direction: column;

  position: relative;
  color: var(--color-title-primary);
  transition: 0.3s ease-in-out;
  background-color: var(--color-bg-component);
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.31);
  height: 550px;
}

@media (max-width: 1311px){
  .card{
    max-width: calc((100% - 32px) / 3);
  }
}

@media (max-width: 1152px){
  .card{
    max-width: calc((100% - 64px) / 2);
  }
}

@media (max-width: 800){
  .card{
    max-width: calc((100% - 32px) / 2);
  }
}

@media (max-width: 710px){
  .card{
    max-width: 100%;
  }
}

.card__thumbnail,
.card__content {
  width: 100%;
  height: auto;
}

.card__thumbnail img {
  background: var(--color-dark);
  transition: 0.3s linear;

  height: 205px;
  max-width: 100%;
  width: 100%;
  filter: brightness(0.7);
  object-fit: cover;
  object-position: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.31);
}

.card__content{
  padding: 24px 32px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card__content > p{
  margin: 0;
  font-size: 18px;
  margin-bottom: 16px;
}


.card__footer{
  position: absolute;
  bottom: 30px;
}