.post-header {
  width: 100%;
  background: var(--color-bg-components);
  height: auto;

  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.post-header .content {
  width: 100%;
  max-width: var(--width-post);
  margin: 0 auto;
  padding: 64px 0;

}


.post-header__tags{
  margin: 20px 0;
}

.post-header__meta{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 44px;
}

.post-header__meta *{
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: var(--color-info);
}

.post-header__meta > div:first-child{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 6px;
}
.post-header__meta > div:first-child > span{
  transform: translateY(2px);
}
.post-header__meta > div:first-child span{
  font-size: 14px;
  font-weight: 400;
}
.post-header__meta > div:first-child svg{
  display: none
}

.post-header__meta > div:last-child{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-right: 6px;
}

.post-header__meta > div:last-child span{
  font-size: 14px;
  font-weight: 400;

}