.section__header{
  width: 100%;
  background: var(--color-primary);
  height: auto;
  padding: 100px 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.section__header .content {
  color: var(--color-white);
  width: calc(100% - 300px);
  margin: 0 auto;
}


.section__header h1 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 24px;
  line-height: 1.3;
}

.section__header .subtitle{
  font-size: 18px;
  letter-spacing: 0.7px;
}

@media (max-width: 790px) {
  .section__header .content {
    color: var(--color-white);
    width: calc(100% - 150px);
    margin: 0 auto;
  }
}

@media (max-width: 590px) {
  .section__header .content {
    width: calc(100% - 64px);
  }
  .section__header h1 {
    font-size: 38px;
  }
}

@media (max-width: 410px) {
  .section__header .content {
    width: calc(100% - 16px);
  }
  .section__header h1 {
    font-size: 34px;
    margin-bottom: 24px;
    line-height: 1.3;
    text-align: center;
  }

  .section__header p {
    text-align: center;
  }
}