.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-right: 12px;
}

.navigation li {
  display: flex;
}

.navigation li a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: capitalize;
  color: var(--color-subtitle);
  font-weight: 500;
  letter-spacing: 1.2px;
  border: 2px solid transparent;
  font-size: 16px;
  transition: 100ms linear;
  position: relative;
}

.navigation li a:hover {
  color: var(--color-primary);
}

@media (max-width: 639px) {
  .navigation {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100vw);
    transition: 0.3s;
    z-index: 1000;
    width: 80vw;
    height: 100vh;
  }

  .navigation[data-navigation="true"] {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0px;
    width: 80vw;
    height: 100vh;
    z-index: 1000;
    background: var(--color-primary);
    overflow: hidden;
    padding-top: 100px;
    padding-left: 17px;
    position: fixed;
    transform: translateX(0);
  }
}
