.list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-bg-components);
    border: 2px solid var(--color-border-dark);
    border-radius: 4px;
}

.list + .list{
    margin: 16px 0;
}

.list header,.list footer{
    padding: 16px;
}

.list section{
    border-top: 2px solid var(--color-border-dark);
    border-bottom: 2px solid var(--color-border-dark);
}

.list header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.list header a{
    display: flex;
    align-items: center;
}

.list header a:hover *{
    stroke: currentColor;
    color: currentColor;
}


.list header *{
    margin: 0;
    text-transform: lowercase;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.list header *::first-letter{
    text-transform: capitalize;
}
.list header svg{
    margin-right: 4px;
}

.list header h3{
    font-size: 20px;
    color: var(--color-title);
}

.list section h4{
    font-size: 17px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.list section ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 16px;
    
}

.list section ul li{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 14px 16px;
}

.list section ul li a{
    display: flex;
    width: 100%;

}

.list section ul li:hover{
    color: var(--color-primary);
    background: var(--color-dark);
}

.list section ul li:hover a *{
    color: currentColor;
}

.list a footer{
    width: 100%;
    height: 100%;
    display: block;
}
