.header {
  display: flex;
  width: 100%;
  height: 150px;
}

.header--primary{
  background-color: var(--color-bg-components);
  margin-bottom: 0;
}

.header__content {

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
 
}
.header .button-navigation{
  display: none;
}

@media (max-width: 639px){
  .header{
    height: 100px;
  }

  .header .group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    z-index: 5000;

  }

  .header .group[data-navigationVisivility="true"]{
    position: fixed;
  }

  
  .header .button-navigation{
    display: block;
    background: none;
    border: none;
    margin-right: 8px;
  }
  
  .header .button-navigation svg{
    height: 26px;
    width: 26px;
  }
}