.list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-bg-component);
    border: 1px solid var(--color-bg-component-high);
    margin: 16px 0;
}

.list header, .list article,.list footer{
    padding: 16px;
}

.list article{
    border-top: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-bg-lines);
}

.list header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    background: var(--color-primary);
}


.list header *{
    margin: 0;
    text-transform: lowercase;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.list header *::first-letter{
    text-transform: capitalize;
}

.list article h4{
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    padding-bottom: 4px;
}



.list article p{
    color: var(--color-info);
    font-size: 12px;
}

.list article ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 16px;
}

.list article a:hover{
    color: var(--color-secondary);
}

