:root{
  --color-primary: #7158e2;
  --color-secondary: #F50057;
  --color-secondary-dark: #f50056d7;

  --color-title: #f2f9ff;
  --color-title-hover: #7158e2;

  --color-text: #f2f9ffcc;
  --color-subtitle: #f2f9ffab;
  --color-info: #f2f9ff55;

  --color-bg: #131417;;
  --color-bg-components: #1f2229;;

  --color-border: #3f3f3f;
  --color-lines: #3a3a3f;

  --color-red: #ff3838;
  --color-red-light: #ff4d4d;
  --color-green: #05c46b;
  --color-gree-light: #0be881;
  --color-blue: #3c40c6;
  --color-blue-light: #575fcf;
  --color-orange: #EAB543;
  --color-orange-light: #ffc048;
  --color-gray: #808e9b;
  --color-gray-light: #d2dae2;

  --color-dark: #121212;
}