body{
    font-family: Roboto, var(--font-family-sans-serif);
    font-size: 17px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body,
button,
a,
input {
    font-family: Roboto, var(--font-family-sans-serif);  
}