:root {
  --space: 16px;
  --space1: 4px;
  --space2: 8px;
  --space3: 12px;
  --space4: 16px;
  --space5: 20px;
  --space6: 24px;
  --space8: 32px;
  --space9: 36px;

  --color-bg-component: #2a2a33;
  --color-bg:#1a1a21 ;

  --color-bg-lines: #3a3a3f;
  --color-bg-scrollbar: #343438;
  --color-bg-scrollbar-thumb: #555;


  --color-primary: #8c7ae6; /* bg componentes */
  --color-white: #e5e5e5; /* Title, subtitles */
  --color-white-medium: #f2f9ff;
  --color-dark: #171717; /* title */
  --color-gray: #373737; /* Textos */


  --width-post: 790px;

  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}


