:root{
    --space: 16px;
    --space1: 4px;
    --space2: 8px;
    --space3: 12px;
    --space4: 16px;
    --space5: 20px;
    --space6: 24px;
    --space8: 32px;
    --space9: 36px;

    --color-primary: #65499c; /* bg componentes */
    --color-white: #f5f5f5; /* Title, subtitles */
    --color-white-medium: #ddd;
    --color-dark: #171717; /* title */
    --color-gray: #373737; /* Textos */
}